<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <h4 style="line-height: 1px;"><%= link_to article.title, article_path(article) %></h4>
        <small><i>Created <%= article.created_at.strftime("%Y-%m-%d") %></i></small>
      <p>
        <%= article.slug %>...
      </p>
    </li>
    </br>
  <% end %>
</ul>

<% if logged_in? %>
  <%= link_to 'New Article', new_article_path, class: "new_article" %>
<% end %>
