<p id="notice"><%= notice %></p>
<h1 class="center"> Author</h1>
<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
