<% flash.each do |key, value| %>
<div class="boop panel panel-<%= key %>" style="position: absolute; margin: 10px;">
  <div class="panel-heading">
    <div class="flash"><%= value %></div>
  </div>
</div>
<% end %>
