<div class="panel panel-success" style="position: absolute; margin: 10px;">
  <div class="panel-heading" style="float: inherit;">
    <div class="flash" style="float: inherit;"><%= flash.notice %></div>
  </div>
</div>
